@import "theme.scss";

.searchbar {
    border: 1px solid $shadow !important;
    padding-left: 44px !important;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 14px;
    left: 26px;
    filter: opacity(0.4);
}
