@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

$primary: #27aee2;
$secondary: #555555;
$light: #fafafb;
$dark: #1c1c1d;
$info: #4a148c;
$success: #00b74a;

$gray: #34343a;
$shadow: #ececec;

$body-height: calc(100vh - 108px);

$font-primary: "Manrope", sans-serif;
