@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

$primary: #27aee2;
$secondary: #34343a;
$light: #fafafb;
$dark: #1c1c1d;
$shadow: #ececec;

$body-height: calc(100vh - 108px);

$font-primary: "Manrope", sans-serif;
